################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API-Provinces/.vs/API-Provinces/v15
